<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

   <h1>Team Name: <%= @team['name'] %></h1>
   <h2>
   <br> Coach: <%= @team['coach']%> </br>
   <br>Point Guard: <%= @team['pg'] %> </br>
   <br>Shooting Guard: <%= @team['sg'] %>  </br>
   <br>Power Forward: <%= @team['pf'] %> </br>
   <br>Small Forward: <%= @team['sf'] %> </br>
   <br>Center: <%= @team['c'] %> </br> </h2>

 </body>
</html>
